div #spinner {
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

video .video {
    position: relative;
    z-index: -1;
    background-color: red;
}